<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Travel-Safe</title>
    <link rel="stylesheet" href="/Travel_Safe/Styles Files/login_Style.css">
</head>
<body>
    <header>
        <h1>Travel_Safe</h1>
        <nav>
          <a href="/Travel_Safe/Templates/register_page.html">Register</a>
        </nav>
    </header>
    
    <section class="contact">
        <h3>Login</h3>
        <form id="login-form" onsubmit="return loginUser();">
          <input type="text" placeholder="Username" id="username" required>
          <input type="password" placeholder="Password" id="password" required>
          <button type="submit">Login</button>
        </form>
    </section>

    <script src="/Travel_Safe/Scripting Files/Login_Script.js"></script> <!-- Include the external script -->
</body>
</html>
