<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png" type="image/gif" sizes="16x16">
    <title>My Custom Map Application</title>
    <link href='/Travel_Safe/Styles Files/Safe_Map_Style.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css" />
</head>

<body>
    <h1>Safety_Map</h1>
    <div class="Map_div">
        <!-- Animated Box Layer -->
        <div class="block"></div>
        
        <!-- Map Container -->
        <div id="mapContainer">
            <!-- Map element -->
            <div id='map'></div>
        </div>
    </div>

    <!-- Mapbox Scripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js'></script>
    <script src='/Travel_Safe/Scripting Files/Map_Script.js'></script>
</body>
</html>
