body, html {
    background-image: url("/images/Map_bg.jpg");
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000; 
    background-size: cover;
}
h1{
    margin-left: 42%;
    justify-content: center;
    align-items: center;
    color:white;
}

.Map_div {
    margin-top: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    position: relative; /* Set relative positioning for absolute children */
}



#mapContainer {
    position: relative;
    width: 800px; /* Match width with the block */
    height: 500px; /* Match height with the block */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden; /* Ensure content doesn't overflow the container */
    z-index: 2; /* Keep the map above the animated box */
}

/* Added a z-index for the map to sit above the borders */
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative; /* Set relative positioning */
}
